.loader {
  display: inline-flex;
  border: 3px solid var(--input-background-color);
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
}

.sm {
  width: 32px;
  height: 32px;
}

.md {
  width: 64px;
  height: 64px;
}

.lg {
  width: 128px;
  height: 128px;
}

.xl {
  width: 256px;
  height: 256px;
}

.light {
  border-top-color: var(--accent-color);
}

.dark {
  border-top-color: var(--background-color);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}